*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #f9fafc;
}
.main{
 align-items: center;
 width: 85%;
 gap: 1em;
 margin: auto;

}
.card{
    width: 300px;
    height: 310px;
    background-color: #fff;
    border: 2px solid #e1e8f0;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;

}
.card-esp{
    width: 300px;
    height: 310px;
    border: 2px solid #e1e8f0;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #101010;
}
p{
    color: rgb(130, 16, 195);
    padding: 10px;
}
button{
    border: 1px solid black;
    padding: 15px;
    color: black;
    width: 100%;
    background-color: #fff;

}
.subtitle{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    padding: 10px;

}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.precing{
    color: black;
    font-size: 1em;
    font-weight: 500;
}
img{
    width: 20px;
    height: 20px;
}
.details{
    display: flex;
    justify-content: space-evenly;
   
    align-items: center;
    
}
.td{
    color: black;
}
.img{
    margin-left: 10%;
}
hr{
    margin: 15px;
    width: 90%;
}
@media (min-width: 600px){
    .main{
        display: flex;
        margin-bottom: 20px;
    }
}
.tde{
    color: white;
}
.btn-esp{
    border: 1px solid black;
    padding: 15px;
    color: black;
    width: 100%;
    background-color: rgb(173, 21, 233);

}
.subtitle2{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
   
    padding: 10px;
}